<!--end row-->
<app-breadcrumb breadcrumb="statistiques"></app-breadcrumb>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Chrome Users</p>
            <h4 class="my-1">42K</h4>
          </div>
          <div class="text-primary ms-auto font-35"><i class='bx bxl-chrome'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Github Users</p>
            <h4 class="my-1">56M</h4>
          </div>
          <div class="text-danger ms-auto font-35"><i class='bx bxl-github'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Firefox Users</p>
            <h4 class="my-1">42M</h4>
          </div>
          <div class="text-warning ms-auto font-35"><i class='bx bxl-firefox'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Shopify Users</p>
            <h4 class="my-1">85M</h4>
          </div>
          <div class="text-success ms-auto font-35"><i class='bx bxl-shopify'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end row-->
<h6 class="mb-0 text-uppercase">Data Widgets</h6>
<hr/>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
  <div class="col">
    <div class="card radius-10 ">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Users</p>
            <h5 class="mb-0">85,028</h5>
          </div>
          <div class="dropdown ms-auto">
            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">	<i class='bx bx-dots-horizontal-rounded font-22'></i>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:;">Action</a>
              </li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="" id="w-chart1"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Page Views</p>
            <h5 class="mb-0">42,892</h5>
          </div>
          <div class="dropdown ms-auto">
            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">	<i class='bx bx-dots-horizontal-rounded font-22'></i>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:;">Action</a>
              </li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="" id="w-chart2"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Avg. Session Duration</p>
            <h5 class="mb-0">00:03:20</h5>
          </div>
          <div class="dropdown ms-auto">
            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">	<i class='bx bx-dots-horizontal-rounded font-22'></i>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:;">Action</a>
              </li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="" id="w-chart3"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Bounce Rate</p>
            <h5 class="mb-0">51.46%</h5>
          </div>
          <div class="dropdown ms-auto">
            <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown">	<i class='bx bx-dots-horizontal-rounded font-22'></i>
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:;">Action</a>
              </li>
              <li><a class="dropdown-item" href="javascript:;">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:;">Something else here</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="" id="w-chart4"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Orders</p>
            <h5 class="mb-0">867</h5>
          </div>
          <div class="ms-auto">	<i class='bx bx-cart font-30'></i>
          </div>
        </div>
      </div>
      <div class="" id="w-chart5"></div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Income</p>
            <h5 class="mb-0">$52,945</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-wallet font-30'></i>
          </div>
        </div>
      </div>
      <div class="" id="w-chart6"></div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Users</p>
            <h5 class="mb-0">24.5K</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-bulb font-30'></i>
          </div>
        </div>
      </div>
      <div class="" id="w-chart7"></div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Comments</p>
            <h5 class="mb-0">869</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-chat font-30'></i>
          </div>
        </div>
      </div>
      <div class="" id="w-chart8"></div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Orders</p>
            <h5 class="mb-0">867</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-cart font-30'></i>
          </div>
        </div>
        <div class="progress radius-10 mt-4 h-5">
          <div class="progress-bar bg-primary w-50" role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Income</p>
            <h5 class="mb-0">$52,945</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-wallet font-30'></i>
          </div>
        </div>
        <div class="progress radius-10 mt-4 h-5">
          <div class="progress-bar bg-danger w-50" role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Total Users</p>
            <h5 class="mb-0">24.5K</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-bulb font-30'></i>
          </div>
        </div>
        <div class="progress radius-10 mt-4 h-5">
          <div class="progress-bar bg-success w-50" role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10 overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0">Comments</p>
            <h5 class="mb-0">869</h5>
          </div>
          <div class="ms-auto"><i class='bx bx-chat font-30'></i>
          </div>
        </div>
        <div class="progress radius-10 mt-4 h-5">
          <div class="progress-bar bg-info w-50" role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
