<body class="bg-login">
<!--wrapper-->
<div class="wrapper">
  <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        <div class="col mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="border p-4 rounded">
                <div class="text-center">
                  <h3 class="">Connexion</h3>
                  <br>
                </div>
                <div class="d-grid mb-3" *ngIf="error">
                  <a class="btn shadow-sm btn-danger" >
                    <span class="d-flex justify-content-center align-items-center">
                          <span>{{errorMessage}}</span>
											</span>
                  </a>
                </div>
<!--                <div class="login-separater text-center "> <span>OR SIGN IN WITH EMAIL</span>-->
<!--                  <hr/>-->
<!--                </div>-->
                <div class="form-body">
                  <form class="row g-3 " [formGroup]=" loginForm"  (ngSubmit)="loginForm.valid && onSubmit()">
                    <div class="col-12">
                      <label for="inputEmailAddress" class="form-label">Email</label>
                      <input formControlName="email" [ngClass]="validateFormControlName('email')"  type="email" class="form-control" id="inputEmailAddress" placeholder="Email">
                      <div class="text-danger mt-2" *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched||loginForm.get('email').dirty)">
                        <span *ngIf="loginForm.get('email').errors['required']">Veuillez entrer une adresse valide</span>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputChoosePassword" class="form-label">Mot de Passe</label>
                      <div class="input-group" id="show_hide_password">
                        <input [ngClass]="validateFormControlName('password')" formControlName="password" [type]="show ? 'texte' : 'password' "
                               class="form-control border-end-0" id="inputChoosePassword" value="12345678" placeholder="Mot de passe">
                        <a (click)="showHidePassword()" class="input-group-text bg-transparent"><i class='bx' [ngClass]="show? 'bx-show': 'bx-hide'"></i></a>
                      </div>
                      <div class="text-danger mt-2" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched||loginForm.get('password').dirty)">
                        <span *ngIf="loginForm.get('password').errors['required']">Le champ est obligatoire</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Se souvenir</label>
                      </div>
                    </div>
                    <div class="col-md-6 text-end">	<a href="#">Mot De Passe Oublié ?</a>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button *ngIf="!isLoading" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
                          <i class="bx bxs-lock-open"></i> Se connecter</button>
                        <button   *ngIf="isLoading"  class="btn btn-primary" type="button" disabled>
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                          Loading...
                        </button>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
  </div>
</div>
<!--end wrapper-->
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<!--app JS-->
<script src="assets/js/app.js"></script>
</body>
